[user]
	name = Arpit Shah
	email = collegeimprovements@gmail.com
[init]
	defaultBranch = main
[fetch]
	prune = true
[gui]
	pruneDuringFetch = true
[help]
	autocorrect = 1
[url "https://github.com/"]
	insteadOf = git@github.com:
[http]
  sslVerify = false
#	proxy = http://developer:developer@165.225.116.28:9400
[https]
  sslVerify = false
#	proxy = http://developer:developer@165.225.116.28:9400
